@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', sans-serif;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.animation::after {
  transition: width 0.3s ease-in-out;
}

.phoneInput input {
  @apply w-full rounded-[4px] bg-white/5 px-3 py-[5px] leading-[20px] text-[14px] text-white outline-none;
}

.opt-container input {
  @apply !mr-0 !w-[40px] !h-[48px] outline-none bg-white/5 border-2 rounded-[4px] font-bold text-white text-[28px] !leading-[36px] !pt-1 caret-transparent;
}

.opt-container input:focus {
  @apply !border-[#60CDFF];
}

.mainLayout {
  @apply min-h-[calc(100vh-52px)] p-8;
}

.auth-background {
  background-image: url('./assets/auth-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* RESET FLUENT UI DIALOG STYLES */
.f15twtuk {
  top: unset !important;
}

.fvgz9i8 {
  max-width: 100% !important;
}

.f13qh94s {
  display: flex !important;
  flex-direction: column;
}

.popover {
  left: unset !important;
}

.accordion .f1ewtqcl {
  padding: 0 !important;
  min-height: 20px !important;
  max-height: 20px !important;
  margin-top: 6px !important;
  margin-bottom: 10px !important;
}

.f1hu3pq6 {
  margin: 0 !important;
}
