@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL */

* {
  font-family: 'Inter', sans-serif;
  outline: none !important;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* AUTH */

.auth-header-bg {
  background-image: url('./assets/bg-light.png');
}

.auth-bg {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(255, 255, 255, 0.8) 100%
    ),
    url('./assets/auth-bg.jpeg'), lightgray 50% / cover no-repeat;
}

.phoneInput input {
  @apply w-full rounded-[4px] bg-white px-3 py-[5px] leading-5 text-base text-black outline-none;
}

.opt-container input:focus {
  @apply !border-cian;
}

.opt-container input {
  @apply !mr-0 !w-[40px] !h-[48px] outline-none  border-2 rounded-[4px] font-bold text-primary-400 text-[28px] !leading-[36px] !pt-1 caret-transparent;
}

/* RESET SCROLLBAR */

::-webkit-scrollbar-track {
  background: ccc;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #eee;
}

/* RESET MENU STYLE */
.css-r6z5ec {
  z-index: 10 !important;
}

/* INPUT */

.animation::after {
  transition: width 0.3s ease-in-out;
}

/* DASHBOARD */

.main-container {
  @apply min-h-[calc(100vh-40px)] px-4 py-6;
}
