@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL */

* {
  font-family: "Inter", sans-serif;
  outline: none !important;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* AUTH */

.auth-header-bg {
  background-image: url("./assets/bg-light.png");
}

.auth-bg {
  background:
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(255, 255, 255, 0.8) 100%
    ),
    url("./assets/auth-bg.jpeg"),
    lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.phoneInput input {
  @apply w-full rounded-[4px] px-3 py-[5px] text-base leading-5 text-black outline-none md:bg-gray-200;
}

.opt-container input:focus {
  @apply !border-cian;
}

.opt-container input {
  @apply !mr-0 !h-[48px] !w-[40px] rounded-[4px]  border-2 !pt-1 text-[28px] font-bold !leading-[36px] text-primary-400 caret-transparent outline-none;
}

/* RESET SCROLLBAR */

::-webkit-scrollbar-track {
  background: ccc;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #eee;
}

/* RESET MENU STYLE */
.css-r6z5ec {
  z-index: 10 !important;
}

/* INPUT */

.animation::after {
  transition: width 0.3s ease-in-out;
}

.errorText {
  @apply -mt-1 text-small text-red-500;
}

/* DASHBOARD */

.main-container {
  @apply min-h-[calc(100dvh-48px)] bg-gray-200 px-4 py-6;
}

.add-btn {
  @apply flex items-center gap-3 rounded-[4px] bg-primary-400 px-3 py-[5px] text-base leading-5 text-white;
}

/* POSTS */

.break-title {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limite de 2 linhas de texto */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* VIDEO PLAYER */

.show-controls {
  animation: showControls 0.3s ease;
}

@keyframes showControls {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ANIMAÇÃO QUESTIONÁRIO */
@keyframes fillBorder {
  0% {
    border: 7px solid transparent;
    border-top-color: #89d185;
    transform: rotate(0deg);
  }
  33% {
    border: 7px solid transparent;
    border-top-color: #89d185;
    border-right-color: #89d185;
    transform: rotate(90deg);
  }
  66% {
    border: 7px solid transparent;
    border-top-color: #89d185;
    border-right-color: #89d185;
    border-bottom-color: #89d185;
    transform: rotate(180deg);
  }
  100% {
    border: 7px solid transparent;
    border-top-color: #89d185;
    border-right-color: #89d185;
    border-bottom-color: #89d185;
    border-left-color: #89d185;
    transform: rotate(270deg);
  }
}

.circle {
  width: 100px;
  height: 100px;
  border: 7px solid transparent;
  border-top-color: #89d185;
  border-radius: 50%;
  animation: fillBorder 0.5s linear both;
}
